%ol.breadcrumb
  %li
    =link_to "Página inicial", root_path
  %li
    =link_to "Minhas vagas", jobs_path    
  %li.active
    ="Criar oferta"

.container-fluid
  .row.panel.panel-info
    .col-lg-12.panel-heading
      %p
        %h3
          %strong
            ="Criar oferta - Informações básicas"
  =render 'form'