.container-fluid.box-home
	.row
		.col-lg-2
		.col-lg-4
			%h3="O que é?"

			%p="O Empregame é um aplicativo feito para que empresas divulguem suas ofertas de emprego,de modo rápido e seguro, para uma grande quantidade de pessoas.Com isso os interessados podem obter informações organizadas e de fácil acesso. O Empregame deixa as ofertas de emprego mais visíveis!"
		.col-lg-2

	.row
		.col-lg-2
		.col-lg-4		
			%h3="Como funciona?"

			%h4="Visão de ofertante de vagas (empresas)"

			%p="Você cadastra sua oferta de emprego(link), informando nome, localidade, salário e péríodo. Sua oferta é publicada no Empregame, sem custo algum, e outras pessoas poderão visualizar, curtir e compartilhar.Os interessados entram em contato direto pelo email disponibilizado pela oferta. Vocês acertam os detalhes e candidato encontrado!"

			%h4="Visão candidato"

			%p="Você realiza uma simples buscar pelo nome da vaga ou localidade.Encontre sua vaga.Mande o currículo para o email informado e boa sorte na entrevista!"
		.col-lg-2