.container-fluid.box-home
	.row
		.col-lg-2
		.col-lg-4
			%h2="Política de Privacidade"

			%h3="Cadastro"

			%p= simple_format "Para usufruir dos benefícios adicionais do site e conseguir ofertar vagas de empregos você precisa se cadastrar no Empregame. Este cadastro é armazenado em um banco de dados protegido e sigiloso. Seu cadastro pode ser cancelado a qualquer momento."

			%h2="Informações do Usuário"

			%p= simple_format "Suas informações são importantes, pois nos ajudam a tornar o site um lugar melhor e cada vez mais direcionado a você, usuário, na busca de sua total satisfação. Sua privacidade é nossa preocupação. Temos o compromisso de preservá-la. Nossa política de privacidade visa assegurar a garantia de que, quaisquer informações relativas aos usuários, não serão fornecidas, publicadas ou comercializadas em quaisquer circunstâncias. O Empregame obtém informações, dos usuários, somente solicidatas no momento do cadastro."

			%h2="Segurança das Informações"

			%p= simple_format "Todos os dados informados ao nosso site são armazenados em um banco de dados reservado e com acesso restrito a alguns funcionários habilitados, que são obrigados, por contrato, a manter a confidencialidade das informações e não utilizá-las inadequadamente."
		.col-lg-2			
