%header
  .navbar.navbar-default
    .container-fluid
      =link_to "Emprega.me", root_path, class: "navbar-brand"
      %p.navbar-text.navbar-right
        =link_to "Publicar oferta de emprego", new_job_path, class: "btn btn-default navbar-btn"